* {
	font-size: 11pt;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	color: #000;
	font-family: sans-serif;
}

body {
	background-color: #FFF;
}

th, td {
	padding: 5px;
}

input {
	padding: 5px;
}

#menu {
	border-bottom: 1px solid #CCC;
	background-color: #EEE;
	height: 50px;
	position: fixed;
	width: 100%;
}

#head {
	border: 0px solid #F00;
	background-color: #FFF;
}

#cont {
	border: 1px solid #FFF;
	background-color: #FFF;
	clear: both;
	padding-top: 50px;
/*
	height: 500px;
*/
}

#foot {
	border-top: 1px solid #CCC;
	text-align: center;
	line-height: 50px;
}

.inner {
	width: 95%;
	border: 0px solid #000;
	margin: 0px auto;
}

#head .title {
	line-height: 50px;
	font-size: 24pt;
	font-weight: bold;
}

#menu div {
	padding-left: 10px;
	line-height: 50px;
	border: 0px solid #F00;
	font-weight: bold;
	color: #669;
	cursor: pointer;
}

#menu .item-right {
	float: right;
}

#menu .item-left {
	float: left;
}

#foot * {
	color: #AAA;
}

.close {
	float: right;
}

#post_note {
	display: none;
	padding: 10px;
	border: 1px solid #AAA;
	border-radius: 10px;
	background-color: #EEE;
	margin: 10px;
	position: fixed;
	width: 80%;
/*
	position: absolute;
*/
}

#post_note .title {
	font-weight: bold;
}

#post_note textarea {
	width: 90%;
	height: 100px;
	padding: 5px;
	margin-top: 5px;
}

#post_note input {
	margin-top: 5px;
}

#post_photo {
	display: none;
	padding: 10px;
	border: 1px solid #CCC;
	border-radius: 10px;
	background-color: #EEE;
	margin-top: 10px;
	position: fixed;
	width: 90%;
}

#post_photo .title {
	font-weight: bold;
}

#find {
	display:none;
	padding: 10px;
	border: 1px solid #CCC;
	border-radius: 10px;
	background-color: #EEE;
	margin: 10px;
	position: fixed;
	width: 80%;
}

#login_form {
	margin: 0px auto;
	border: 0px solid #F00;
}

#login_form div {
	margin-top: 5px;
}

#login_form input {
	margin-left: 10px;
}

#login_form .title {
	float: left;
	width: 80px;
}

#login_message {
	line-height: 40px;
}

.show_note {
	border: 1px solid #CCC;
	padding: 10px;
	margin-top: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.user_photo {
	float: left;
	border: 1px solid #CCC;
	width: 40px;
	height: 40px;
	margin: 0px 10px 0px 0px;
}

.user_name {
	font-size: 14pt;
	font-weight: bold;
	color: #669;
}

.post_date {
	font-size: 9pt;
}

.comment {
	clear: both;
	padding-top: 10px;
}

.note_bottom {
	background-color: #EEE;
	padding: 10px;
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.note_bottom div {
	float: left;
	font-size: 9pt;
	font-weight: bold;
	color: #669;
	border: 0px solid #F00;
	line-height: 15pt;
}

.like {
	cursor: pointer;
}